/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
.barEdit {
  background-color: black;
  height: 40px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
i .fa-regular .fa-pen-to-square {
  color: black;
}

.barEdit p {
  color: white;
}

.barEdit .boutonPublication {
  padding: 0 15px;
  background-color: white;
  border-radius: 25px;
  height: 28px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.iconebar {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

a {
  text-decoration: none;
  color: black;
}

#login {
  font-weight: bold;
}

a:active {
  font-weight: bold;
}

#introduction .divImage {
  display: flex;
  gap: 9px;
  margin-left: 56px;
  margin-top: 15px;
}

#introduction .intro {
  display: flex;
}
#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  margin-right: 40px;
}

#portfolio #titre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#titre a {
  margin-left: 10px;
}
#portfolio .categorie {
  margin-bottom: 50px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

form .connexion {
  display: flex;
  flex-direction: column;
  margin-left: 370px;
}

.boutonSubmitForm {
  border-radius: 25px;
  height: 36px;
  margin: 0px 50px;
  background-color: #A7A7A7;
  border: 0;
  color: white;
  font-family: "Syne";
  font-weight: 700;
  width: auto;
}

.seConnecter {
  border-radius: 25px;
    height: 36px;
    margin: 20px 64px;
    background-color: #A7A7A7;
    border: 0;
    color: white;
    font-family: "Syne";
    font-weight: 700;
    width : 35%
}
.connexion .mdp {
  margin-left: 114px;
}
form h2 {
  margin-bottom: 52px;
  display: flex;
  justify-content: center;
}

form p {
  margin-bottom: 7px;
}
form input {
  box-shadow: 0px 4px 14px 0px #00000017;
  height: 51px;
  width: 379px;
  background-color: #ffffff;
  color: black;
  border: solid 0px;
  margin-bottom: 43px;
}
.categorie span {
  border: 1px solid #1d6154;
  border-radius: 60px;
  height: px;
  padding: 9px;
}

.span_selected {
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  height: 407px;
object-fit: cover;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer {
  margin-top: 160px;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
.modal2 {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.modal-wrapper .header-modal {
  position: relative;
  margin-bottom: 30px;
}

.modal-wrapper,
.modal-ajout-photo {
  height: 95%;
  width: 35%;
  background-color: white;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.modal-wrapper .poubelle {
  color: white;
  top: 6px;
  right: 5px;
  background-color: black;
  font-size: 13px;
  border-radius: 5px;
  padding: 3px;
  color: white;
}

.modal-wrapper i {
  font-size: 20px;
  font-weight: 15px;
  position: absolute;
  top: 20px;
  right: 27px;
}

.modal-wrapper figure {
  position:  relative;
}

.modal-wrapper img {
  position: relative;
}

.modal-ajout-photo{
  display: flex;
  align-items:  center;
}
.header-modal h2{
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  color: black;
  font-family: work sans-serif;
  margin-top: 55px;
}

.header-modal-ajout-photo {
  position: relative;
  width: 100%;
}

.header-modal-ajout-photo h2{
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  color: black;
  font-family: work sans-serif;
  margin-top: 55px;
}

.header-modal-ajout-photo .croixAjoutPhoto {
  position: absolute;
  top: 20px;
  right: 27px;
  font-size: 20px;
}

a .flecheRetour {
  position: absolute;
  top: 20px;
  left: 27px;
  font-size: 22px;
}

.modal-ajout-photo .divElementFiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 34px;
  gap: 6px;
  position: relative;
}
.modal-ajout-photo .divPreview {
  background-color: #e8f1f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-top: 12px;
  height: 169px;
}

.divLabels {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  padding: 20px;
  gap: 15px;
}

.divLabels input, select {
  box-shadow: 0px 4px 14px 0px #00000017;
  background-color: white;
  height: 51px;
  border: 0px;
  width: 95%;
}

.divElementFiles .inputFiles {

  height: 36px;
  width: 173px;
  border-radius: 50px;
  background-color: #cbd6dc;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #306685;
  z-index: 1;
  opacity: 0;
}


.divElementFiles .spanBoutonFiles {
  height: 36px;
  width: 173px;
  border-radius: 50px;
  background-color: #cbd6dc;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #306685;
  z-index: 0;
  position: absolute;
  top: 80px;
}

.divElementFiles i {
  color: #b9c5cc;
  font-size: 55px;
}

.divElementFiles .pFiles {
  color : #444444;
  font-size: 11px;
}

.divLabels .bar-modal2 {
  width: 100%;
  margin-top: 50px;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
}

.divLabels .boutonAjoutPhoto{
  border-radius: 60px;
  height: 36px;
  width: 60%;
  margin-left: 85px;
  border: 0;
}

.boutonAjoutPhoto:disabled{
  background-color: #A7A7A7;
}

.divElementFiles .divPreview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-wrapper img {
  width: 67px;
  height: 100px;
  object-fit: cover;
}

.modal-wrapper figure {
  margin-top: 20px;
}

.modal-wrapper .worksModal {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px 81px;
}

.divFooterModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divFooterModal a {
  color: #d65353;
  margin-top: 26px;
}
.divFooterModal .bar-modal1 {
  width: 70%;
  margin-top: 50px;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
}

.divFooterModal .boutonAjoutPhoto {
  width: 45%;
  margin-top: 20px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1d6154;
  border-radius: 60px;
  border: 1px solid #1d6154;
}
